body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: hsla(0, 0%, 100%, 1);
  }
  
  /* Header Styles */
  .login-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 64px;
    padding: 10px 100px;
    border-bottom: 1px solid hsla(230, 7%, 16%, 1);
    opacity: 1;
  }
  
  .header-logo {
    width: 156.77px;
    height: 24px;
    opacity: 1;
  }
  
  /* Footer Styles */
  .login-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 32px;
    padding: 20px 100px;
    border-top: 1px solid hsla(230, 7%, 16%, 1);
    background: hsla(0, 0%, 7%, 1);
    opacity: 1;
  }
  
  .footer-logo {
    width: 32px;
    height: 32px;
    opacity: 1;
  }
  
  .login-footer p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18.6px;
    text-align: left;
    color: hsla(222, 5%, 38%, 1);
  }
  
  /* Body Styles */
  .login-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    height: 663px;
    padding: 59px 29px;
    gap: 150px;
    border-radius: 4px 0 0 0;
    opacity: 1;
  }
  
  .login-body h1 {
    width: 380px;
    height: 31px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 31px;
    text-align: center;
    color: hsla(0, 0%, 100%, 1);
  }
  
  .google-login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180.5px;
    height: 32px;
    gap: 12px;
    background-color: hsla(0, 0%, 80%, 1);
    border: 1px solid hsla(210, 1%, 44%, 1);
    border-radius: 4px;
    opacity: 1;
  }
  
  .google-login-button img {
    width: 16px;
    height: 21px;
    margin-right: 7.75px;
  }
  
  .google-login-button span {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.1px;
    letter-spacing: -0.3px;
    text-align: center;
    color: hsla(0, 0%, 80%, 1);
  }